<div class="tormenta20 chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}">
    <header class="card-header flexrow">
        {{#if item.img}}<img src="{{item.img}}" title="{{item.name}}" width="36" height="36" style="flex:0" />{{/if}}
        <h3 class="item-name">
          <div>{{item.name}}</div>
        </h3>
        {{#if custo}}<span class="custo" style="float: right;"><div class="mana-cost" style="display: none;">{{custo}}</div><div>{{{custo}}} <br> PM</div></span>{{/if}}
        {{#if truque}}<span class="custo" style="float: right;"><div class="mana-cost" style="display: none;">{{custo}}</div><div><i>Truque</i></div></span>{{/if}}

    </header>
    {{#if spell}}
    <div class="spellheader" style="display:block;width:100%; flex: unset">
      <h4>{{spell.tipo}}<i> </i>{{spell.circulo}}<i> </i>{{spell.escola}}</h4>
      <p><b>Execução:</b> {{spell.execucao}} <b> Alcance:</b> {{{spell.alcance}}} {{~#if spell.alvo}}<b> Alvo:</b>
        {{{spell.alvo}}}{{~/if}} {{~#if spell.area}}<b> Área:</b> {{{spell.area}}}{{~/if}} <b> Duração:</b>
        {{{spell.duracao}}} {{~#if spell.resistencia}}<b> Resistência:</b> {{{spell.resistencia}}} (CD {{{spell.cd}}}){{~/if}}</p>
    </div>
    {{/if}}

    {{#if power}}
    <div class="spellheader" style="display:block;width:100%; flex: unset">
      <p>
        {{~#if power.resistencia}}<b> Resistência:</b> {{{power.resistencia}}} (CD {{{power.cd}}}){{~/if}}
      </p>
    </div>
    {{/if}}
      

    <div class="card-content">
      {{#if data.description}} {{{data.description}}} {{/if}}
    </div>

    {{#if aprimoramentos}}
    <div class="spellheader" style="display:block;width:100%; flex: unset">
      <ul>
      {{#each aprimoramentos as |ap|}}
        <li>
          <div class="row">
            <b>
              {{#if truque}}
              Truque:
              {{else if (gt ap.custo 0)}}
              +{{ap.custo}}PM:
              {{#if (gt ap.qtd 1)}}
              ({{ap.qtd}}x)
              {{/if}}
              {{/if}}
            </b>
            {{ap.description}}
          </div>
        </li>
      {{/each}}
      </ul>
    </div>
    {{/if}}

    {{#each _rolls as |roll id|}}
      {{#each ../rolls as |r i|}}
        {{#if (eq id i)}}
        <div class="row">{{r.title}}</div>
        <div class="roll {{r.tipo}}">{{{roll}}}</div>  
        {{/if}}
      {{/each}}
    {{/each}}

    <div id="aditionalbutton"></div>

    
    {{#if effects}}
    <div id="activeEffectsbuttons">
      {{#each effects as |ef i|}}
      <button class="apply-button-ef" value="{{i}}" data-effect-index="{{i}}">{{{ef.data.label}}}</button>
      {{/each}}
    </div>
    {{/if}}
</div>